<div class="container footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Managent App <i class="fas fa-heart"></i> by <%= link_to 'yasumitsu.io' %>
  </div>
</div>
