<div class="container footer">
  <div class="footer-links">
    <a href="/pages/show"><i class="fas fa-home"></i></a>
    <a href="https://www.facebook.com/Yasumitsuio-110978880658215", target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/cassianotadaoyasumitsu/", target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Managent App <i class="fas fa-heart"></i> by <%= link_to 'yasumitsu.io' %>
  </div>
</div>
