<div class="container">
  <div class="footer fixed-bottom">
    <div class="footer-links">
      <a href="/pages/show"><i class="fas fa-home"></i></a>
    </div>
    <div class="footer-copyright">
      Managent App <i class="fas fa-heart"></i> by <%= link_to 'yasumitsu.io' %>
    </div>
  </div>
</div>
