<div class="container p-5", style="background-color: white;">
  <div class="row">
    <div class="col-8">
      <%= image_tag 'employees.png', class: "main" %>
    </div>
    <div class="col-4">Description</div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      Description
    </div>
    <div class="col-8">
      <%= image_tag 'employees.png', class: "main" %>
    </div>
  </div>
</div>
