<div class="container">
<h1 class="mb-5 text-center">Registro de Nova Empresa</h1>

<%= render 'companies/form', company: @company %>

<%= link_to 'Inicio', companies_path, class: 'btn btn-outline-success w-100' %>
</div>
