.employee-view {
  background-color: white;
  margin: 24px;
  padding: 24px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  p + p {
    margin-left: 4px;
  }
}

.user-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 0 0 16px 0;
  background-color: #f4f4f4;
  p {
    padding: 12px;
    margin: 0;
  }
}

.user {
  display: flex;
  justify-content: space-between;

  p {
    background-color: #f4f4f4;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px;
    span {
      font-weight: lighter;
      font-size: 20px;
    }
  }
}
