.employee-view {
  background-color: white;
  margin: 24px;
  padding: 24px;
  border: 2px solid #1f286f;
  border-radius: 4px;
<<<<<<< HEAD
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
=======
>>>>>>> 9e5846428ff5f18269a0b7ee4af3487d7dd2049d
}
