<div class="row justify-content-center">
  <%= image_tag "logo.png", class: "p-5" %>
</div>
<div class="d-flex flex-column align-items-center">
  <%= link_to 'Back', root_path, class: 'btn btn-info btn-sm m-2' %>
  <%= link_to 'New Car', new_car_path, class: 'btn btn-primary btn-sm m-2' %>
</div>
<div class="row justify-content-around">
  <% @cars.each do |car| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <% end %>
</div>
